* {
    padding:0;
    margin:0;
    line-height:normal;}
body {
    background:#ddd;
    font:normal 16px/18px "Trebuchet MS", sans-serif;}
#header,#footer{
	background:#339999;
	height:70px;}
#footer{height:70px;}
#container{
width:960px;
margin:0 auto;}
#container fieldset{border: 3px solid #B1DF50;}
#UserInput{text-align: center;position:relative;left:10px;}
#UserInput input{padding-left: 15px;width: 150px;}
#Option{height:110px;}
#Option table{margin: 0 auto;}
#Option table t,#Option table td {
border: 5px solid #63A321;
padding: 10px;
text-align:center;}
#Option ul li{
list-style:none;
display:inline;}
/*move "Gender" in the radio*/
#Option ul li:nth-of-type(1){margin-right:13px;}
.hobby{
position:relative;
bottom:15px;
text-align: center;}
.textmarigncontry{margin-right:2px;float:left;}
#Comment{
position:relative;
left:184px;
float:left;
height:120px;
width:240px;}
#Description{width:230px;}
.textcomment{
float:left;
font-size:24px;
position:relative;
left:60px;}
#CheckOut{
float: left;
position:relative;
left:250px;
top:32px;}
#errors{
	float: right;
	margin-right:15px;
	border: 1px dashed green;
	padding: 5px;
}

#errors{
	overflow: scroll;
	height:100px;
	width: 200px;
	position: relative;
	top: 13px;
}
#CheckOut ul li:nth-of-type(2){margin-top:20px;}
#CheckOut ul li{list-style:none;}
#CheckOut input{
font-size:12px;
font-style:italic;
padding:5px;
width:100px;}

.divfloatclear{
clear:both;
height:0px;}
.textcenter{text-align:center;}

.divheight10{height:10px;}
.divheight20{height:20px;}
.divheight30{height:30px;}
.divcommentauto{
margin:0 auto;
}