*{
padding:0;
margin:0;
line-height:normal;}
body{
width:300px;}
body ul{
list-style:none;
margin:0 10px 0 0;}

body ul li:nth-of-type(even) img{float:left;padding:0 10px 0 0;}
body ul li:nth-of-type(even) p{
padding: 0 0 0 5px;
}	
body ul li:nth-of-type(odd){
font-size:20px;
margin:0 0 10px 0;
padding:0 0 0 5px;
background:#69F;}
body ul li a{
text-decoration:none;}

.divfloatclear{
clear:both;
height:0px;}