/* General Styling - Do not copy */
body {
	background:#666;
}

#container {
	width:984px;
	height:1000px;
	margin:0 auto;
	background:#FFF;
	padding:20px;
}

h1 {
	font-size:50px;
}

h2 {
	font-family: Helvetica, Arial, sans-serif
}

/*-----  Code Shack Slider Styles  -----*/

.slider {
	width:520px;
	height:350px;
	float:left;
}

.descriptions {
	float:left;
	height:310px;
	width:250px;
	background:#CCC;
	padding:20px;
}

.thumbnails img {
	width:150px;
	height:100px;
}
