<style>
*{
  margin: 0;
  padding: 0;
  line-height: normal;
}
/*
#header{
margin: 0 auto;
width: 960px;
}
#tabs{
  margin: 0 auto;
  width: 960px;
}*/
body{
margin: 0 auto;
width: 960px;
}
#header{
  border: 1px solid grey;
  border-radius: 20px 20px 0px 0px;
}
#footer{
   border: 1px solid grey;
  border-radius: 0px 0px 20px 20px;
}
#tabs,#footer{
position:relative;
bottom: 5px;
}

/*blogs*/
#loginform{
  float: left;
  margin-left: 20px;
}
#events{
  float: right;
  margin-right: 40px;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid grey;
}

#tabs-3{
  height: 330px;
}
#tabs-4{
  height:500px;
}

.descriptions h1{
  font-size: 40px;
}
/*tabs-2*/
#tabs-2{
  height: 550px;
}
#tabs-2 ul{
  float: left;
  width: 300px;
  position: relative;
  left: 70px;  
}

#tabs-2 div{
  float: right;
   position: relative;
  right: 50px; 
}

/*regist form*/
#UserInput{text-align: center;position:relative;left:10px;}
#UserInput input{
margin-right:40px;
margin-left:11px;
padding:0 20px;}
#UserInput input{
max-width: 100px;
}
#Option{height:130px;}
#Option table{margin: 0 auto;}
#Option table t,#Option table td {
border: 5px solid #63A321;
padding: 10px;
text-align:center;}
#Option ul li{
list-style:none;
display:inline;}
/*move "Gender" in the radio*/
#Option ul li:nth-of-type(1){margin-right:13px;}
.hobby{
position:relative;
bottom:15px;
text-align: center;}
.textmarigncontry{margin-right:2px;float:left;}

#Comment{
position:relative;
left:184px;

float:left;
height:120px;
width:240px;}
#Description{width:230px;}
.textcomment{
float:left;
font-size:24px;
position:relative;
left:60px;}

#CheckOut{
position:relative;
left:250px;
top:32px;}
#CheckOut ul li:nth-of-type(2){margin-top:20px;}
#CheckOut ul li{list-style:none;}
#CheckOut input{
font-size:12px;
font-style:italic;
padding:5px;
width:100px;}
.divfloatclear{
  clear:both;
  height:0px;
}
ul li{
  list-style: none;
}
/*TAB5*/
#accordion div{
  height: 100px;
}
</style> 