body{
	background:#add;
	
}
#container{
	background:#FFBB0D;
	color:#400040;

	text-align:left;
}
.main{
	width:90%;
}
.lft_ryt{
	float:right;
	width:50%;
}
.lft_part{
	float:right;
	width:960px;
}
.main h2{
	color:#F00;
	text-shadow:2px 2px #999999;
	box-shadow: 1px 1px 5px 1px #999999 inset;
}
.tbl1 td{
	background:#FDF8B9;
 }
 table{
	 border:#FDF8B9;
	 box-shadow: 4px 6px #9B9B9B inset;
 }
.main h2 {
    color:#add;
    text-align:center;
}
#errors{
	float:right;
}