<fieldset>
    <legend>Pizza Order Form</legend>
    <!--remember to use . here!!!!-->
    <form id="orderForm" action="ProcessForm.html" method="post">
        <label for="cid">Customer ID : </label><input type="text" name="customer_id" id="cid"/>
        <label for="cname">Customer Name : </label><input type="text" name="customer_name" id="cname"/><br/>
        Size:
        <input type="radio" name="quantity" value="9"/>9   
        <input type="radio" name="quantity" value="12"/>12   
        <input type="radio" name="quantity" value="15"/> 15  
        <br/>
        Toppings<select name="Toppings" multiple size='2'>
            <option>pepperoni</option>
            <option>mushrooms</option>
            <option>pineapple</option>
        </select>
        <br/>
        <input type="submit" name="btn_submit" value="Order">
    </form>   
</fieldset>
