*{
	padding:0;
	margin:0;
	line-height:normal;
}

#fieldset{
	width: 960px;
	margin: 0 auto;
}
#form{
	margin-top: 10px;
	width: 350px;
	border: 2px solid green;
	margin: 0 auto;
}

#textboxes input, #textboxes textarea{
	margin-left: 20px;
	margin-bottom: 0.5em;
}
#textboxes label{
float:left;
width:5em;
text-align: right;
}

/*
#choosingoptions label{
	padding-left: 10px;
	margin-right: 47px;
	text-align: right;
}
#choosingoptions label:nth-child(3){
	position: relative;
	right:20px;
}
*/
#btns{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}
#btns input{
	box-shadow: 2px 2px 0 navy;
	background-color: silver;
}
#btns input:nth-child(2){
	margin-left: 100px;

}
.clear{
	clear:both;
	height: 3px;
}