*{
padding:0;
margin:0;
line-height:normal;}
body{width:180px;}
body ul{list-style:none;}
body ul li img{
width:180px;
height:180px;
border-radius:5px 5px 20px 20px;}
body ul li:nth-of-type(even){padding:0 0 20px 0;}
body ul li:nth-of-type(odd){
font-size:20px;
background:#69F;
text-align:center;
width:180px;
border-radius:20px 20px 5px 5px;}
body ul li a{
text-decoration:none;}