@font-face {
    			font-family: 'Museo';
    			src: url('fonts/Museo.eot');
    			src: url('fonts/Museo.eot?#iefix') format('embedded-opentype'),
        			url('fonts/Museo.woff') format('woff'),
        			url('fonts/Museo.ttf') format('truetype'),
         			url('fonts/Museo.svg#Museo') format('svg');
			}
			@font-face{
				font-family:'orbitron';
				src:url('fonts/orbitron-bold.otf') format('opentype'), 
					url('fonts/orbitron-bold.eot') format('eot'),
					url('fonts/orbitron-bold.ttf') format('truetype');
			}
			@font-face{
				font-family:'Lobster';
			    src: url('fonts/Lobster.eot');
    			src: url('fonts/Lobster.eot?#iefix') format('embedded-opentype'),
        	 		url('fonts/Lobster.woff') format('woff'),
         			url('fonts/Lobster.ttf') format('truetype'),
         			url('fonts/Lobster.svg#Lobster') format('svg');
			}