@chatset "utf-8";
* {
    padding:0;
    margin:0;
    line-height:normal;}
a:link{
	color:#245ef1;
	text-decoration: none;}
a:visited{}
a:active{}
a:focus,a:hover{
	color:#ff8208;
	text-decoration: none;}
	h1{
	font-size: 45px;
	line-height: 45px;}
h2{
	font-size: 28px;
	line-height: 20px;}
h3{
	font-size: 18px;
	padding: 20px 0;}
body{
	background: #fff;
	font: normal 16px/18px Vedana,sans-serif;
	background:url(	../image/humber.jpg) no-repeat center center fixed;
	background-size:100% 100%;}	
#navigation{width:960px;height:50px;}
#navigation ul li {
	float:left;
	list-style:none;}
#navigation ul li a {
	display:block;
	height:40px;
	padding:0 35px;
	line-height: 50px;
	vertical-align: middle;
	text-decoration: none;	
	font-size: 21px;
	font-weight: bold;
	color:#245ef1;}
#navigation ul li a:hover,#navigation ul li a:focus{
	background:#245ef1;
	color:#0DFF9E;}
#container{
	width: 960px;
	background: grey;
	margin: 0 auto;
	opacity:0.9; }
#loginform{
float:left;
position:relative;
left:75px;
}
#events{float:right;
position:relative;
right:60px;
}
#description{
border:2px solid green;
float:left;
}
object{
border:1px solid black;
}

.divfloatclear{
clear:both;
height:0px;}