@chatset "utf-8";
* {
    padding:0;
    margin:0;
    line-height:normal;}
body {
    background:#ddd;
    font:normal 16px/18px "Trebuchet MS", sans-serif;}
a:link{
	color:#245ef1;
	text-decoration: none;}
a:visited{}
a:active{}
a:focus,a:hover{
	color:#ff8208;
	text-decoration: none;}
	h1{
	font-size: 45px;
	line-height: 45px;}
h2{
	font-size: 28px;
	line-height: 20px;}
h3{
	font-size: 18px;
	padding: 20px 0;}
#navigation{width:960px;height:50px;}
#navigation ul li {
	float:left;
	list-style:none;}
#navigation ul li a {
	display:block;
	height:40px;
	padding:0 35px;
	line-height: 50px;
	vertical-align: middle;
	text-decoration: none;	
	font-size: 21px;
	font-weight: bold;
	color:#245ef1;}
#navigation ul li a:hover,#navigation ul li a:focus{
	background:#245ef1;
	color:#0DFF9E;}
#container{
	width: 960px;
	background: grey;
	margin: 0 auto;
 	margin:0 auto;}
#container form{border: 3px solid #B1DF50;}
#UserInput{text-align: center;position:relative;left:10px;}
#UserInput input{
margin-right:40px;
margin-left:11px;
padding:0 20px;}
#Option{height:110px;}
#Option table{margin: 0 auto;}
#Option table t,#Option table td {
border: 5px solid #63A321;
padding: 10px;
text-align:center;}
#Option ul li{
list-style:none;
display:inline;}
/*move "Gender" in the radio*/
#Option ul li:nth-of-type(1){margin-right:13px;}
.hobby{
position:relative;
bottom:15px;
text-align: center;}
.textmarigncontry{margin-right:2px;float:left;}
#Comment{
position:relative;
left:184px;
float:left;
height:120px;
width:240px;}
#Description{width:230px;}
.textcomment{
float:left;
font-size:24px;
position:relative;
left:60px;}
#CheckOut{
position:relative;
left:250px;
top:32px;}
#CheckOut ul li:nth-of-type(2){margin-top:20px;}
#CheckOut ul li{list-style:none;}
#CheckOut input{
font-size:12px;
font-style:italic;
padding:5px;
width:100px;}
.divfloatclear{
clear:both;
height:0px;}
.textcenter{text-align:center;}
.divheight10{height:10px;}
.divheight20{height:20px;}
.divheight30{height:30px;}
.divcommentauto{
margin:0 auto;
}
