*{
padding:0;
margin:0;
line-height:normal;}
#button{text-align:center;}
#button input:nth-of-type(2){
margin: 0 0 0 50px;}
#button input{
border-radius:20px 20px 20px 20px;
padding:5px;}
fieldset{
width:280px;
padding:10px;}
fieldset label input{
float:right;}
#box {
				margin:60px auto 0;
				padding:10px;
				width:230px;
				height:190px;
				opacity:0.7;
				-webkit-transition:all 0.5s linear;
			}
			#box:hover{
				background:#ff0;
				color:#00F;
				-webkit-box-shadow:0px 0px 30px #000;
			}
	#box p{
	line-height:40px;
	font-size:20px;
	}
.clear{
height:30px;
clear:both;}