*{
	padding: 0;
	margin: 0;
	line-height: normal;}
body{
	background: #fff;
	font: normal 16px/18px Vedana,sans-serif;
	background:url(http://i1333.photobucket.com/albums/w634/James_Luo/campus_zps72cd954e.jpg) no-repeat center center fixed;
	background-size:100% 100%;
	}
a:link{
	color:#245ef1;
	text-decoration: none;}
a:visited{}
a:active{}
a:focus,a:hover{
	color:#ff8208;
	text-decoration: none;}
h1{
	font-size: 45px;
	line-height: 45px;}
h2{
	font-size: 28px;
	line-height: 20px;}
h3{
	font-size: 18px;
	padding: 20px 0;}
#container{
	width: 960px;
	background: grey;
	margin: 0 auto;
	opacity:0.9;
	}
.cleardiv{
	clear:both;
	height:0;}
/*navigation*/	

#navigation{width:960px;height:50px;}
#navigation ul li {
	float:left;
	list-style:none;}
#navigation ul li a {
	display:block;
	height:40px;
	padding:0 35px;
	line-height: 50px;
	vertical-align: middle;
	text-decoration: none;	
	font-size: 21px;
	font-weight: bold;
	color:#245ef1;}
#navigation ul li a:hover,#navigation ul li a:focus{
	background:#245ef1;
	color:#0DFF9E;}
#image{
	float:left;
	padding: 0 5px 0 0;
	}
#content{
	float: left;
	display: inline;
	width:500px;
	min-height:300px;
	margin:0 0 0 10px;}	
#sidebar{
text-align:center;
float: right;
width:300px;
margin: 0 50px 0 0;}
#sidebar ul{
margin-left: 0;	
list-style: none;}
#searchform input:nth-of-type(1){
		padding: 0 0 0 15px;	
		margin: 0 10px 10px 0;
		max-width:100px;
		border-radius:20px 20px 20px 20px;
}
#searchform input:nth-of-type(2){
width:50px;
border-radius:30px 10px 30px 0px;}
#events{
	padding-top:15px;
	text-align:center;
	height:220px;
	border:2px solid green;
	background:#9CBD67;
	opacity:0.8;
	border-radius:10px 10px 10px 50px;
	}
#events object{
	position:relative;
	left:10px;
}
#course-books ul{ list-style:none;}
#course-books ul li:nth-of-type(1){padding-top:20px;}
#course-books ul li{
	text-align:center;
	padding-bottom:20px;}
#course-books h2{
	position:relative;
	left:30px;}	