/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-Sep-2014, 8:46:41 AM
    Author     : ma
*/

*{
    padding:0;
    margin: 0;
}

.clearFloat{
    clear:both;
    height: 0px;
}

#container{
width:960px;       
border:1px solid;
margin: 0 auto;
}


form{
    margin: 0 auto;
}
.form-group > .form-control{
    width: 200px;
}