﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <br />
    <div style="height: 343px; width: 263px">
    
        <asp:Panel ID="Panel1" runat="server" Height="341px" Width="256px">
            <asp:CheckBox ID="cbTue" runat="server" Text="Tue" />
            <asp:CheckBox ID="cbWed" runat="server" Text="Wed" />
            <br />
            <asp:CheckBox ID="cbThu" runat="server" Text="Thu" />
            <asp:CheckBox ID="cbFri" runat="server" Text="Fri" />
            <br />
            &nbsp;&nbsp;&nbsp;
            <br />
            <br />
            <asp:TextBox ID="TextBox5" runat="server"></asp:TextBox>
            &nbsp;Course Name<br />
            <br />
            <asp:TextBox ID="TextBox6" runat="server"></asp:TextBox>
            &nbsp;Course Code<br />
            <br />
            <asp:TextBox ID="TextBox7" runat="server"></asp:TextBox>
            &nbsp;Instructor<br />
            <br />
            <asp:TextBox ID="TextBox8" runat="server"></asp:TextBox>
            &nbsp;Place<br />
            <br />
            <asp:TextBox ID="TextBox9" runat="server"></asp:TextBox>
            &nbsp;Starting Time<br />
            <br />
            <asp:TextBox ID="TextBox10" runat="server"></asp:TextBox>
            &nbsp;Ending Time</asp:Panel>
        </div>
        <asp:Button ID="btnSubmit" runat="server" OnClick="btnSubmit_Click" Text="Submit" />
    </form>
</body>
</html>
